/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
}
/* common styles or utilities*/
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #ffffff;
    width: 810px;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 21px;
    
}
.section-header{
    font-size: 24px;
    color: #562EFF;
    margin-top: 3px;
}

/*---------------------
    top player style
----------------------*/

.top-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: 1fr 1fr 1fr; */
    row-gap: 30px;
    margin-top: 40px;
    margin-bottom: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
.player img{
    width: 56px;
    height: 56px;
}

/*----------------
    Top Blogs 
----------------*/

.blog-section-header{
    margin-top: 30px;
}
.blogs{
    margin-top: 31px;
    margin-bottom: 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 26px;
}
.blog{
    display: flex;
     
}
.thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-info p{
    font-size: 16px;
    color: #9F9F9F;
}
.blog-info a{
    color: #562EFF;
    text-decoration: none;
    font-weight: 400;
}
.blog-title{
    font-size: 20px;
    
}

/*----------------
    Lates Course
----------------*/
.lates-course{
    margin: 23px 28px;
    padding: 0 30px 23px 30px;
}
.course-header{
    margin-top: 23px;
}
.rating-and-duration{
    display: flex;
}
.rating p{
    color: #FFC014;
}
.duration{
    color: #FF4A60;
    background-color: #FFE4E8;
    padding: 4px 6px;
    border-radius: 15px;
    margin-left: 25px;
}
.duration p{
    
    font-weight: 700px;
    font-size: 15px;
}