/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
}
/* common styles or utilities*/
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #ffffff;
    width: 810px;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 21px;
    
}
.section-header{
    font-size: 24px;
    color: #562EFF;
    margin-top: 3px;
}

/*---------------------
    top player style
----------------------*/

.top-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: 1fr 1fr 1fr; */
    row-gap: 30px;
    margin-top: 40px;
    margin-bottom: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
.player img{
    width: 56px;
    height: 56px;
}
hr{
    border: 1px solid #D1D1D1;
}
/*----------------
    Top Blogs 
----------------*/

.blog-section-header{
    margin-top: 30px;
}
.blogs{
    margin-top: 31px;
    margin-bottom: 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 26px;
}
.blog{
    display: flex;
     
}
.thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-info p{
    font-size: 16px;
    color: #9F9F9F;
}
.blog-info a{
    color: #562EFF;
    text-decoration: none;
    font-weight: 400;
}
.blog-title{
    font-size: 20px;
    
}

/*----------------
    Lates Course
----------------*/

.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    margin-top: 25px;
    row-gap: 30px;
    justify-items: center;
}

.lates-course{
    margin: 23px 28px;
    padding: 0 30px 23px 30px;
}
.course-info .course-title{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 20px;
}
.course-info .course-author{
    color: #ED6B4F;
    font-family: 'Roboto Condensed', sans-serif;
}
.course-banner img{
    width: 224px;
    height: 104px;
}
.course-header{
    margin-top: 23px;
}
.rating-and-duration{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.rating .fa-star, .fa-star-half-stroke{
    color: #FFC014;
}
.rating p{
    color: #FFC014;
}
.duration{
    color: #FF4A60;
    background-color: #FFE4E8;
    padding: 4px 6px;
    border-radius: 15px;
    /* margin-left: 25px; */
    font-weight: 500;
}
.duration p{
    
    font-weight: 700px;
    font-size: 15px;
}

/*----------------------
    Media Queries
-----------------------*/

/* For Mobile Device */

@media only screen and (max-width: 688px) {

    .container{
        width: 100%;
    }
    .top-players, .blogs, .courses{
        grid-template-columns: repeat(1, 1fr);
    }
    .section-header{
        text-align: center;
    }
    .player{
        justify-content: center;
    }
    .blog{
        flex-direction: column;
    }
}